*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	background-image: url(https://cdn.seovx.com/?mom=302);
}
.main{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%,-10%);
}
.sign-frame{
	height: auto;
	width: 80vw;
	min-width: 300px;
	max-width: 500px;
	border: 2px solid #777;
	margin: 0px auto;
	position: relative;
}
.hitokoto_sign{
	font-size: 22px;
	text-decoration: none;
	color: #fff;
	-webkit-text-stroke: 0.03em #000;
	font-weight: bolder;
}
.sign_from{
	font-size: 18px;
	color: #fff;
	-webkit-text-stroke: 0.03em #000;
	position: relative;
	right: 0px;
}
.colortranslate{
	width: auto;
	min-width: 300px;
	height: auto;
}
.colortranslate table{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.input-hex,
.input-dec{
	height: 35px;
	/*width: 200px;*/
	width: 70%;
	max-width: 300px;
	outline-style: none;
	/*appearance: none;*/
	letter-spacing: 0.05em;
	border: 0px;
	font-size: 18px;
	color: #000;
	padding: 0px 20px;
	border-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px; 
	background: rgba(52, 61, 70, 0.2);
}
.input-hex::-webkit-input-placeholder,
.input-dec::-webkit-input-placeholder{
	color: #fffd;
}
.input-hex:focus,
.input-dec:focus{
	box-shadow: inset 0 3px 3px rgba(0,0,0,.075),0 0 8px rgba(2, 128, 203,.6);
}
.color{
	display: inline-block;
	height: 35px;
	width: 30%;
	max-width: 80px;
	background: #172A3977;
	line-height: 35px;
	color: #fff; 
	text-align: center;
	vertical-align: top;
	margin-left: -4.8px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
}
.toolcontrol{
	width: 500px;
	height: 50px;
	margin: 10px 0px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.buttons{
	width: 416px;
	height: 40px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.btn-refresh,
.btn-hidetable,
.btn-opacity,
.btn-full{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
	opacity: 0;
	height: 35px;
	width: 100px;
	background-color: #00aaff;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bolder;
	transition: 0.5s;
}
.toolcontrol:hover .btn-refresh,
.toolcontrol:hover .btn-hidetable,
.toolcontrol:hover .btn-opacity,
.toolcontrol:hover .btn-full{
	opacity: 1;
	height: 35px;
	width: 100px;
	background-color: #00aaff;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bolder;
	transition: 0.5s;
}
.translate-hex2dec,
.translate-dec2hex{
	height: 35px;
	width: 80px;
	background-color: #00aaff;
	border-radius: 20px;
	/*outline-style: none;*/
	margin: 0px 10px;
	font-size: 16px;
	font-weight: bolder;
}
.opacitybtn{
	height: 35px;
	width: 120px;
	background-color: #00aaff;
	border-radius: 20px;
	/*outline-style: none;*/
	margin: 0px 10px;
	font-size: 16px;
	font-weight: bolder;
}


.opacity{
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.opacity tr{
	height: 40px;
}
.legend{
	background-image: url(bg.png);
	background-size: 100% 100%;
	color: #fff;
}
.legend-color{
	display: inline-block;
	background-color: #000000;
	color: #fff;
	height: 40px;
	width: 123px;
	line-height: 40px;
}
.legend-color2{
	display: inline-block;
	background-color: #000000;
	color: #123456;
	height: 40px;
	width: 123px;
	line-height: 40px;
}